*, *::before, *::after {
    box-sizing: border-box;
}


body{
    margin: 0;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(25, 28, 44, 0.5),rgba(19, 13, 46, 0.5)), url('./ressources/iconesMeteo/fond/0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
.calqueTransition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
    background-color: #202633;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s ease-out;  
}

.calqueTransition.is-active {
    pointer-events: all;
    opacity: 1;
}
.containerPrincipal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    /* background-color: rgb(25, 25, 91); */
}
.boutonPoubelle i{
    pointer-events: none;
    
}
.retour{
    position: absolute;
    top: 5px;
    left: 13px
}
.retour a{
    text-decoration: none;
    color: rgb(209, 209, 209);
    transition: 0.2s; 
    font-size: 22px;  
}
.retour a:hover{
    color: rgb(255, 255, 255);  
    
}

.divIconeInfo{
    position: absolute;
    top: 4px;
    right: 5px;
    color: rgba(255, 255, 255, 0.471);
    transition: 0.2s;
    cursor: pointer;
    font-size: 22px;
    
}
.divIconeInfo:hover{
    color: rgb(255, 255, 255);
    
}

.blocInfo{
    width: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    /* right: 23px; */
    z-index: 1;
    font-size: 14px;
    display: none;
    
}
.blocInfo p {
    margin: 0;
}
.elementBlocInfo{
    position: relative;
}
.divCroix{
    position: absolute;
    top: -6px;
    right: -6px;
    color: #ffffff7b;
    transition: 0.2s;
    cursor: pointer;
}
.divCroix:hover{
    color: #FFFFFF;
}
.blocInfoVisible{
    display: block;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 0.3s;
  }

.containerRechercheLieux{
    
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.blocChargement{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;     
    justify-content: center;
    text-align: center;
    z-index: 9999;  
   
}
.blocChargement img{
    width: 150px;
    height: 150px;
}
.chargementVisible{
    display: flex; 
    
}
.inputForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    
}
.input{
    padding-left: 25px;
    padding-right: 10px;
    width: 100%;
    color:#FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    
    
}
.input:focus{
    color:#FFFFFF;
    outline: none;
}
.inputForm input, .divIconeRecherche, .boutonCroix{
    padding: 5px;
    font-size: 15px;
    border: none;    
    height: 40px;
    padding-right: 10px
}
.divIconeRecherche{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px 0 0 10px ;
    color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.boutonCroix{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 10px 10px 0 ;
    color: rgb(209, 209, 209);
    transition: 0.2s;
    cursor: pointer;
} 
.boutonCroix:hover{
    color: rgb(255, 255, 255);      
}
.inputForm input::placeholder {
    color: rgba(255, 255, 255, 0.596);
 }




.listeRecherche{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top : 48px;
    width: 100%;
    overflow: hidden;
    overflow: scroll;
    display: none;
    height: 290px;
    overflow-x: hidden;
    border-radius: 5px;
    
    z-index : 1;
}
.ullisteRecherche{
    padding-left: 5px;
}

.ullisteRecherche a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.liRecherche{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    flex-direction: column;   
}

.spanRegionPays{
    color: #ffffffa9;
    font-size: 12px;
    margin-left: 23px;
    pointer-events: none;
}
.spanVille{
    width: 100%;
    pointer-events: none;
    white-space: nowrap;

    text-overflow: ellipsis;
}

.spanVille::before{
  
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;    
    background: url(./ressources/autre/location.svg) center center / contain no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top : 6px;
    pointer-events: none;
}
.spanlocationId{
    display: none;
}

.listeVisible{
    display: block;
}




.buttonLocalisation{
    margin-top: 20px;
    margin-bottom: 10px;    
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 10px;
    transition: 0.3s;
}
.buttonLocalisation:hover{
    background-color: rgb(0, 0, 0);

}

.containerFavoris{
    width: 100%;
}
.titreFavoris{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    border-top: solid 1px rgba(255, 255, 255, 0.253);

}
.listeFavoris {
    max-width: 90%;
    list-style: none;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.VilleFavoris:hover{
    background-color: rgb(0, 0, 0);
}

.VilleFavoris li {
    flex: 1;
    padding-left: 5px;
}

.poignee{
    height: 40px;
    color: #bab9b9;
    background-color:#23232e;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: grab;
    /* pointer-events: none; */
    font-size: 25px; 
}
.poignee:active{
    cursor: grabbing;
}
.poignee:hover{
    color:#FFFFFF;
}
.poignee i{
    pointer-events: none;
}

.boutonPoubelle{
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    transition : 0.2s;
    border-radius: 5px;
}
.boutonPoubelle:hover{
    background: red;
}
.villeFavoris {
    
    background-color: rgba(0, 0, 0, 0.8);
    color: #c3c3c3;    
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin-bottom: 10px;    
    transition: bow-shadow, transform;
    transition-duration: 0.3s;
    
}
.blocVillefavoris{
    display: flex;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
    height: 40px;
    width: inherit;
}

.favorisLibele{
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin-left: 5px;
    margin-right: 10px;
    white-space: nowrap;
    /*... de ne pas dépasser de son conteneur...*/
    overflow:hidden;
    /*...et permet d'afficher '...' lorsque la chaine est trop longue*/
    text-overflow: ellipsis;    
}
.favorisLibele:hover{
    color: #FFFFFF;
}
.villeFavorisTemp{
    width: 10px;
    margin-right: 20px;
    
}
.villeFavorisIcone img{
    width: 40px;
    height: 40px;
    
    
    
}
.villeFavorisIcone{
    height: 40px;
    pointer-events: none;
}

.suppression {
    transition-property: opacity, height, right, margin-top;
    transition-delay: 0s, 67ms;
    transition-duration: 0.2s;
    transition-timing-function: 
      cubic-bezier(0, 0, 0.2, 1),
      cubic-bezier(0.68, -0.55, 0.32, 2.5);
    opacity: 0;
    position: relative;
    overflow: hidden;
    height: 0;
    margin-top: 0;
}

.drag-start{
    opacity: .5;
}

.indicateur {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    margin-bottom: 13px;
    margin-top: 5px;
    animation: apparition-indicateur 0.2s forwards;
}
  
@keyframes apparition-indicateur {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: 0.3rem;
    }
}

ul.drag-en-cours div {
    position: relative;
}

ul.drag-en-cours div::before,
ul.drag-en-cours div::after {
  content: '';
  display: block;
  width: 100%; 
  height: 10px;
  position: absolute;
  
}
ul.drag-en-cours div::before {
    top: calc(-1 * 10px);
}
  
ul.drag-en-cours div::after {
    bottom: calc(-1 * 10px);
}



